.App {
  margin: 1em;
}

.information-overview {
  display: flex;
  border: 1px solid black;
  padding: 0.5em;
  margin-top: 1em;
}

.profile-information-text {
  padding-left: 1em;
  line-height: 0.5em;
}

.drivers-image {
  height: 6em;
  width: 6em;
  border-radius: 50%;
}

.dice {
  height: 7em;
}

.numbers-list {
  display: flex;
  list-style: none;
}

.numbers-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  width: 3em;
  height: 3em;
}

.profiles-overview {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 0.5em;
  margin-top: 1em;
  list-style: none;
}

.profiles-image {
  height: 6em;
  width: 6em;
}
